@model Eindopdracht_CSharp.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <select asp-for="Species" class="form-control" asp-items="ViewBag.SpeciesList"></select>
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control" asp-items="ViewBag.SizeList"></select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietaryClass" class="control-label">Dietary Class</label>
                <select asp-for="DietaryClass" class="form-control" asp-items="ViewBag.DietaryClassList"></select>
                <span asp-validation-for="DietaryClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPattern" class="control-label">Activity Pattern</label>
                <select asp-for="ActivityPattern" class="form-control" asp-items="ViewBag.ActivityPatternList"></select>
                <span asp-validation-for="ActivityPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaceRequirement" class="control-label">Space Requirement (in m²)</label>
                <input asp-for="SpaceRequirement" class="form-control"/>
                <span asp-validation-for="SpaceRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityRequirement" class="control-label">Security Level Requirement</label>
                <select asp-for="SecurityRequirement" class="form-control" asp-items="ViewBag.SecurityRequirementList"></select>
                <span asp-validation-for="SecurityRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureId" class="control-label">Enclosure</label>
                <select asp-for="EnclosureId" class="form-control" asp-items="ViewBag.Enclosures"></select>
                <span asp-validation-for="EnclosureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

